@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  background: black;
}
*, *::before, *::after {
  box-sizing: border-box;
  image-rendering: pixelated;
}

.title {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.flavor {
  text-align: center;
  color: white;
  font-family: "Jersey 10";
  margin-top: -10px;
  font-size: 20px;
}
#main-card {
  width: 20%;
  background: white;
  height: 60vh;
  color: black;
  top: calc(100px + 13.5%); /* Lock the top edge here */
  left: 50%;
  transform: translateX(-50%); /* Only center horizontally */
  transform-origin: top;
  transition-delay: 2s;
  transition: height 0.2s;
  border: 7.5px solid transparent;
  border-image: url(border.png) 35% round;
  border-radius: 4%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
#main-card:hover {
  height: calc(60vh + 50px);
}

button {
  position: absolute;
  width: 99%;
  height: 50px;
  bottom: -50px;
  background: black;
  color: white;
  outline: none;
  border-radius: 14%;
  border: 7.5px solid transparent;
  border-image: url(border.png) 35% round;
  transition: bottom 0.2s;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
  font-family: "Jersey 10";
  font-size: 24px; 
}
#main-card:hover button {
  bottom: 0%;
}
#main-card:hover #last-updated {
  opacity: 0;
}

.card-img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-top: 5px;
}
.card-title {
  text-align: center;
  border-bottom: 2px solid #c0c0c0;
  padding: 3px;
  font-family: "Jersey 10";
  font-size: 32px;
  letter-spacing: 2px;
}

.card-text {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-family: "Tiny5";

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  word-spacing: 1px;
}

#last-updated {
  font-family: "Bytesized";
  color: #7c7c7c;
  font-size: 12px;
  position: absolute;
  bottom: 1px;
  margin-left: 4px;
}

.side-card {
  width: 20%;
  opacity: 0.5;
  background: white;
  height: 60vh;
  color: black;
  margin-top: -50px;
  border: 7.5px solid transparent;
  border-image: url(border.png) 35% round;
  border-radius: 4%;
  position: absolute;
  top: calc(100px + 50%);
  left: 40%;
  transform: translate(-50%, -50%) scale(0.8);
  transform-origin: center center;
  user-select: none;
}
#left {
  left: 60%;
}

.arrow {
  position: absolute;

  width: 100px;
  top: calc(40px + 50%);
  left: 33%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  cursor: pointer;
  transition: 0s;
}
.arrow:hover {
  transform: translate(-50%, -50%) scale(1.05);
  transition: 0s;
}
.arrow:active {
  transform: translate(-50%, -50%) scale(0.95);
}

#arrow-left {
  transform: translate(-50%, -50%) scaleX(-1);
  left: 67%;
}
#arrow-left:hover {
  transform: translate(-50%, -50%) scaleX(-1) scale(1.05);
}
#arrow-left:active {
  transform: translate(-50%, -50%) scaleX(-1) scale(0.95);
}

@media screen and (max-width: 1100px) {
  #main-card {
    width: 30%;
  }
  .side-card {
    left: 35%;
  }
  #left {
    left: 65%;
  }
  .arrow {
    left: 26%;
  }
  #arrow-left {
    left: 74%;
  }
  .title {
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  #main-card {
    width: 40%;
  }
  .side-card {
    left: 30%;
  }
  #left {
    left: 70%;
  }
  .arrow {
    left: 20%;
  }
  #arrow-left {
    left: 80%;
  }
  .title {
    width: 60%;
  }

  #main-card {
    height: calc(60vh + 50px);
  }
  #main-card button {
    bottom: 0%;
  }
}

@media screen and (max-width: 600px) {
  #main-card {
    width: 60%;
    height: calc(65vh + 50px);
    margin-top: -50px;
  }
  .card-title {
    letter-spacing: 0px;
  }
  .card-text {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
    word-spacing: 0px;
    
  }
  .arrow {
    left: 10%;
    width: 50px;
  }
  #arrow-left {
    left: 90%;
  }
  .title {
    margin-top: 10px;
  }
}